<div class="main_container">
  <div class="expense_lists">お気に入り一覧
  <% if @favorite_list.present? %>
  <% @favorite_list.each do |expense| %>

    <div class="expense_user_name">
      <%= "#{expense.user.nickname}さんの収支表" %>
    </div>
    <div class="expense_list">
      <p class="expense_title">収入</p>
      <p class="money"><%= "#{expense.income}円" %></p>
    </div>
    <div class="expense_list">
      <p class="expense_title">食費</p>
      <p class="money"><%= "#{expense.food_expense}円"%></p>
    </div>
    <div class="expense_list">
      <p class="expense_title">日用品</p>
      <p class="money"><%= "#{expense.necessities}円" %></p>
    </div>
    <div class="expense_list">
      <p class="expense_title">衣服</p>
      <p class="money"><%= "#{expense.clothes_expense}円" %></p>
    </div>
    <div class="expense_list">
      <p class="expense_title">美容</p>
      <p class="money"><%= "#{expense.beauty_expense}円" %></p>
    </div>
    <div class="expense_list">
      <p class="expense_title">交際費</p>
      <p class="money"><%= "#{expense.entertainment_expense}円" %></p>
    </div>
    <div class="expense_list">
      <p class="expense_title">医療費</p>
      <p class="money"><%= "#{expense.medical_bill}円" %></p>
    </div>
    <div class="expense_list">
      <p class="expense_title">教育費</p>
      <p class="money"><%= "#{expense.education_cost}円" %></p>
    </div>
    <div class="expense_list">
      <p class="expense_title">光熱費</p>
      <p class="money"><%= "#{expense.utility_costs}円" %></p>
    </div>
    <div class="expense_list">
      <p class="expense_title">旅費</p>
      <p class="money"><%= "#{expense.traveling_expense}円" %></p>
    </div>
    <div class="expense_list">
      <p class="expense_title">その他</p>
      <p class="money"><%= "#{expense.other}円" %></p>
    </div>
    <div class="expense_memo">
      <p class="memo_title">メモ</p>
      <p class="memo"><%= expense.memo %></p>
    </div>
    <div class="expense_btn" >
      <%= link_to "編集", edit_expense_path(expense.id) %>
      <%= link_to "削除", expense_path(expense.id), method: :delete %>
    </div>

  <% end %>
  </div>
</div>