<header class="top_page_header">
    <div class="header_left">
      <i class="fa fa-home"></i>
      家計簿を記録しよう
    </div>
    <div class="header_right">
      <% if user_signed_in? %>
        <%= link_to "お気に入り一覧", favorites_path(@expenses), class:"favorite_link"  %>
        マイページはこちらをクリック👉
        <%= link_to "ようこそ#{current_user.nickname}さん", user_path(current_user.id),  class:"current_user_nickname" %>
        <%= link_to "収支表作成", new_expense_path, class:"header_link" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"header_link" %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class:"header_link" %>
        <%= link_to "ログイン", new_user_session_path, class:"header_link" %>
      <% end %>
    </div>
</header>
<div class="search-form">
  <div class="search-right">
    <h1 class="prefecture">都道府県で投稿を検索</h1>
    <%= form_with(url: search_expenses_path, local: true, method: :get) do |form| %>
      <%= form.text_field :keyword, placeholder: "(例)広島県", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
</div>

<div class="main_container">
<div class="expense_lists">
<% unless @expenses == [] %>
<% @expenses.each do |expense| %>


    <%= render partial: "expense", locals: { expense: expense } %>
    お気に入り
    <% if expense.favorite_counts.count >= 1 %>
      <%= expense.favorite_counts[0]['count'] %>
    <% end %>

<% end %>
<% end %>
</div>
</div>


