<header class="top_page_header">
    <div class="header_left">
      <i class="fa fa-home"></i>
      詳細ページ
    </div>
</header>
<div class="main_container">
<div class="expense_lists">

    <%= render partial: "expense", locals: { expense: @expense } %>

    <div id="favorite" data-id=<%= @expense.id %> data-user_id=<%= current_user.id %>>お気に入り登録</div>

    <% if user_signed_in? && @expense.user.id == current_user.id %>
    <div class="expense_btn" >
      <%= link_to "編集", edit_expense_path(@expense.id) %>
      <%= link_to "削除", expense_path(@expense.id), method: :delete %>
    </div>
    <% end %>
    <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model:@comment, url: expense_comments_path(@expense.id), local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    </div>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= "#{comment.user.nickname}さん" %>：</strong>
            <%= comment.text %>
            <% if user_signed_in? && comment.user_id == current_user.id %>
              <%= link_to "削除", expense_comment_path(comment.expense_id, comment.id), method: :delete %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
</div>
</div>

<%= link_to "トップページ", root_path %>